<!-- include header -->
<%- include('include/_user_header') %>
<!-- /include header -->


  <main id="main">

    

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>Our Restaurant</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="thumbnail border rounded">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="img/specials-1.jpg" alt="" class="img-fluid">
              </div>
                <div class="caption">
                    <h5><strong>Architecto ut aperiam autem id</strong></h5>

                    <p class="offer">20% OFF and more</p>
                </div>
                <div class="clearfix">
                    <div class="price pull-left">$ 1700</div>
                </div>
            </div>
        </div>


        </div>

      </div>
    </section><!-- End Whu Us Section -->
    
  </main><!-- End #main -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->