<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	  <!-- Google Fonts -->
	  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">


	  <!-- Vendor CSS Files -->
	  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
	  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	
	  <!-- Template Main CSS File -->
	  <link href="css/style.css" rel="stylesheet">	


	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/register',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>

<style>
	/* Style all input fields */
	input {
	  width: 100%;
	  padding: 12px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-top: 6px;
	  margin-bottom: 16px;
	}
	
	/* Style the submit button */
	input[type=submit] {
	  background-color: #04AA6D;
	  color: white;
	}
	
	/* Style the container for inputs */
	.container {
	  background-color: #f1f1f1;
	  padding: 20px;
	}
	
	/* The message box is shown when the user clicks on the password field */
	#message {
	  display:none;
	  background: #f1f1f1;
	  color: #000;
	  position: relative;
	  padding: 20px;
	  margin-top: 10px;
	}
	
	#message p {
	  padding: 10px 35px;
	  font-size: 18px;
	}
	
	/* Add a green text color and a checkmark when the requirements are right */
	.valid {
	  color: green;
	}
	
	.valid:before {
	  position: relative;
	  left: -35px;
	  content: "✔";
	}
	
	/* Add a red text color and an "x" when the requirements are wrong */
	.invalid {
	  color: red;
	}
	
	.invalid:before {
	  position: relative;
	  left: -35px;
	  content: "✖";
	}
	</style>



</head>
<body>

	
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between" >
	
		<div class="logo me-auto">
		  <h1><a href="/">Delicious</a></h1>
		</div>
  
		<nav id="navbar" class="navbar ">
		  <ul>
			<li><a class="nav-link scrollto active" href="/">Home</a></li>
			<li><a class="nav-link scrollto active" href="/login">Loogin</a></li>
			<li><a class="nav-link scrollto active" href="/register">Register</a></li>
		  </ul>
		  <i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->
  
  
	  </div>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Register Now</p>
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
				<input type="password" name="password" id="password" placeholder="Password" required="" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>

		<div id="message">
			<h3>Password must contain the following:</h3>
			<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
			<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
			<p id="number" class="invalid">A <b>number</b></p>
			<p id="length" class="invalid">Minimum <b>8 characters</b></p>
		  </div>
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>


			<script>
				var myInput = document.getElementById("password");
				var letter = document.getElementById("letter");
				var capital = document.getElementById("capital");
				var number = document.getElementById("number");
				var length = document.getElementById("length");
				
				// When the user clicks on the password field, show the message box
				myInput.onfocus = function() {
				  document.getElementById("message").style.display = "block";
				}
				
				// When the user clicks outside of the password field, hide the message box
				myInput.onblur = function() {
				  document.getElementById("message").style.display = "none";
				}
				
				// When the user starts to type something inside the password field
				myInput.onkeyup = function() {
				  // Validate lowercase letters
				  var lowerCaseLetters = /[a-z]/g;
				  if(myInput.value.match(lowerCaseLetters)) {  
					letter.classList.remove("invalid");
					letter.classList.add("valid");
				  } else {
					letter.classList.remove("valid");
					letter.classList.add("invalid");
				  }
				  
				  // Validate capital letters
				  var upperCaseLetters = /[A-Z]/g;
				  if(myInput.value.match(upperCaseLetters)) {  
					capital.classList.remove("invalid");
					capital.classList.add("valid");
				  } else {
					capital.classList.remove("valid");
					capital.classList.add("invalid");
				  }
				
				  // Validate numbers
				  var numbers = /[0-9]/g;
				  if(myInput.value.match(numbers)) {  
					number.classList.remove("invalid");
					number.classList.add("valid");
				  } else {
					number.classList.remove("valid");
					number.classList.add("invalid");
				  }
				  
				  // Validate length
				  if(myInput.value.length >= 8) {
					length.classList.remove("invalid");
					length.classList.add("valid");
				  } else {
					length.classList.remove("valid");
					length.classList.add("invalid");
				  }
				}
				</script>
</body>
</html>