  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="social-links">
        <a href="https://zh-hk.facebook.com/" class="facebook"  ><i class="bx bxl-facebook"></i></a>
        <a href="https://www.google.com/" class="google-plus"  ><i class="bx bxl-skype"></i></img>
        <a href="https://www.linkedin.com/" class="linkedin"  > <i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#main" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




  
        <!-- Messenger 洽談附加程式 Code -->
        <div id="fb-root"></div>

        <!-- Your 洽談附加程式 code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
    
        <script>
          var chatbox = document.getElementById('fb-customer-chat');
          chatbox.setAttribute("page_id", "101651002655249");
          chatbox.setAttribute("attribution", "biz_inbox");
        </script>
    
        <!-- Your SDK code -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              xfbml            : true,
              version          : 'v14.0'
            });
          };
    
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>