

    <!-- ======= search Section ======= -->
    <section id="search" class="contact">
      <div class="container">

        <div class="section-title">
          <h2><span>Search</span></h2>
        </div>
      </div>

      <!-- Google Search -->
      <div class="gcse-search"></div>
      <!-- End Google Search -->

      </div>
    </section><!-- End Search Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2><span>Contact</span> Us</h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>
      </div>
      
      <!-- Google Map -->
      <div class="map">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1846.0173124114713!2d114.1775908!3d22.2766782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404005af042d9c9%3A0x71ab4ae223c184e2!2z6IG35qWt6KiT57e05bGA5aSn5qiT!5e0!3m2!1szh-TW!2shk!4v1659582567102!5m2!1szh-TW!2shk" frameborder="0" allowfullscreen></iframe>
      </div>
       <!-- End Google Map -->

      </div>
    </section><!-- End Contact Section -->

      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="social-links">
        <a href="https://zh-hk.facebook.com/" class="facebook"  ><i class="bx bxl-facebook"></i></a>
        <a href="https://www.google.com/" class="google-plus"  ><i class="bx bxl-skype"></i></img>
        <a href="https://www.linkedin.com/" class="linkedin"  > <i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#main" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  
        <!-- Messenger 洽談附加程式 Code -->
        <div id="fb-root"></div>

        <!-- Your 洽談附加程式 code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
    
        <script>
          var chatbox = document.getElementById('fb-customer-chat');
          chatbox.setAttribute("page_id", "101651002655249");
          chatbox.setAttribute("attribution", "biz_inbox");
        </script>
    
        <!-- Your SDK code -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              xfbml            : true,
              version          : 'v14.0'
            });
          };
    
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>