<!DOCTYPE html>
<html >

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Delicious Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  
  <script async src="https://cse.google.com/cse.js?cx=62f45286d41254a19">
  </script>
  <script>
    const x = document.getElementById("demo");
    
    function getLocation() {
      try {
        navigator.geolocation.getCurrentPosition(showPosition);
      } catch {
        x.innerHTML = err;
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude;
    }
  </script>

	<script type="text/javascript">
  const settings = {
	  "async": true,
	  "crossDomain": true,
	  "url": "https://google-translate1.p.rapidapi.com/language/translate/v2",
	  "method": "POST",
	  "headers": {
		  "content-type": "application/x-www-form-urlencoded",
		  "Accept-Encoding": "application/gzip",
		  "X-RapidAPI-Key": "SIGN-UP-FOR-KEY",
		  "X-RapidAPI-Host": "google-translate1.p.rapidapi.com"
	  },
	  "data": {
		  "q": "Hello, world!",
		  "target": "en",
		  "source": "tw"
	  }
  };
s
  $.ajax(settings).done(function (response) {
  	console.log(response);
  });
</script>



</head>

<body>




  <!-- ======= Header ======= -->
  <header id="header"  >
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >
	
      <div class="logo me-auto">
        <h1><a href="/">Delicious</a></h1>
      </div>
    
      <nav id="navbar" class="navbar ">
        <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto active" href="/login">Loogin</a></li>
        <li><a class="nav-link scrollto active" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    
      </div>
  </header><!-- End Header -->

