<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="ejs.js"></script>

  <title>Delicious Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 

  <script>

    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en'
        }, 'google_translate_element');
    }
    
    </script>

</head>

<body>

  <!-- ======= Header ======= -->

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >

      <div class="logo me-auto">
        <h1><a href="/profile">Delicious</a></h1>
      </div>
      

      <nav id="navbar" class="navbar ">
        <table class="table table-hover text-center">
					<tr><td>User Name&nbsp;&nbsp;:&nbsp; <%= name %></tr>
				</table>
        <ul>
          <li><a class="nav-link scrollto active" href="/profile">Home</a></li>
          <li><a class="nav-link scrollto active" href="/cart">Shopping Cart</a></li>
          <li><a class="nav-link scrollto active" href="/logout">Logout</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div id='google_translate_element' align="right"></div>
      
      <script async src="https://cse.google.com/cse.js?cx=62f45286d41254a19">
      </script>

    </div>


